#logo{
  width:17rem;
}
.bg1{
  background-color: rgb(32, 32, 32);
}
.bg2{
  background-color: rgb(96, 160, 0);
}
.bg3{
  background-color: rgb(179, 0, 0);
}
.a{
  cursor:pointer;
  transition:200ms ease-in-out;
}
.a:hover{
  transform: scale(1.01);
  background-color: darkslategray;
}

#load{
  width:3rem;
}
